# See http://help.github.com/ignore-files/ for more about ignoring files.
#environment
/backend/.env

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/backend/node_modules
/backend/npm-debug.log
/backend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json
/backend/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/backend/.DS_Store
/backend/Thumbs.db
